@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@using events.Models
@using eventsWeb.entity
@using events.Extensions
@using Microsoft.AspNetCore.Identity
@using events.Identity


@* @using mvcProje2.Models *@
@* @using events.entity *@

@* artık modelse değil entity'den veri alıyoruz. *@

@* bütün cshtml dosyalarına teker teker eklememek için  View klasörünün içine ekledik
Diğer türlü index.cshtml dosyasında
 <h4>@(((Product)ViewData["Product"]).Name)</h4> satırında Product hata veriyor*@
