<h1 class="h3">Forgot Password</h1>
<hr>
<section class="vh-100">
  <div class="row">
  <div class="container col-md-4 mt-5">
        <form action="/Account/ForgotPassword" method="post" >
           <div class="form-outline mb-4">
              <b><i>Sıfırlama linki için mail adresinizi giriniz.</i></b><br><br>
              <label class="form-label"> Email</label>
              <input type="email"  name="Email" class="form-control" />
            </div> 

            <button type="submit" class="btn btn-primary btn-sm btn-block">Send</button>
            <br><br>
        </form>
  </div>

  <div class="col-md-8">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
      class="img-fluid" alt="Sample image">
  </div>
  </div>

</section>