@model events.Models.ResetPasswordModel

<h3>Reset Password</h3>
<hr>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="/Account/ResetPassword" method="post" >
          <div asp-validation-summary="All" class="text-danger"></div>
          <input type="hidden" asp-for="Token">
          
           <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email"  asp-for="Email" class="form-control" />
            <label class="form-label" asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
          </div> 


          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" asp-for="Password" class="form-control" />
            <label class="form-label" asp-for="Password">New Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

        </form>
      </div>
    </div>
  </div>
</section>