<div class="row">

    <div class="col-md-9">


        <br><br>
        <p><b>Adres</b></p>
        <p> Bahariye Caddesi Süleymanpaşa Sokak No:2 Kadıköy / İstanbul
        (Altıyol Boğa Heykelinden Bahariye Caddesi üzerinde bulunan Vodafone ve Mavi üstü. Serasker Sokak ile Bahariye 
        Caddesi'nin birleştiği noktada Starbucks'ın karşısında yer almaktadır.)</p>
        <br>
        <p><b>Telefon	:</b> 0216 226 26 26 (Pbx)</p>
        <p><b>Faks	: </b>0216 550 99 53</p>
        <p><b>E-posta : </b>events@events.com</p>

      <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px" >
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7653121.583426639!2d33.68830159755496!3d38.039502643757565!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab8659ca83281%3A0x76f30571bd3e13fd!2zQmlsacWfaW0gRcSfaXRpbSBNZXJrZXppIC0gS2FkxLFrw7Z5IMWedWJl!5e0!3m2!1sen!2str!4v1684004828868!5m2!1sen!2str"
      width="450" height="250" style="border:0; box-shadow: 1px 1px 1px 2px  #888888;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!--Google Maps-->
 </div>
</div>