 <header>
<div class="container mb-4">

    <div class="jumbotron jumbotron-fluid"  style="display: flex;">
        <div class="container" style="display: flex;">

            <div class="col-md-5">

                @* <img src="~/img/logoEvent.png" style="height: 100px;" alt="">  *@
             <h4 class="" href="#" >The Entertainment Portal</h4>
       
                @* <h3 class="lead"><i>Original star like Aboubakar</i></h3> *@
            </div>                    
                </h4>
            
            @* <div class="col-md-4" style="display: flex; margin-left:600px;">
                <img src="~/img/logoEvent.png" style="height: 150px;" alt="">
            </div> *@
            </div>     
        @* <div class="col-md-4">
            <form action="/events/list" class="form-inline" style="display: flex; margin-right:10px;">
                <input name="q" type="text"  class="form-control mr-1 " placeholder="Etkinlik, Mekan, Şehir">
                <button type="submit" class="btn btn-outline-dark  mr-0" style="margin-left: 10px;">Ara</button>
            </form>
     </div> *@

    @* <div class="row" style="height: 10px; width: 500px;">
        <form action="/events/list" class="form-inline" style="display: flex;;">
            <input name="q" type="text"  class="form-control mr-1 " placeholder="Etkinlik, Mekan, Şehir">
            <button type="submit" class="btn btn-outline-dark  mr-0" style="margin-left: 10px;">Ara</button>
        </form>
    </div> *@

 </div>


</div>

 </header>