@model eventsWeb.entity.Product

    <div class="smallcard" width= "150px;">
        <a href="http://localhost:5045/events/list/2">
        <img src="~/img/@Model.ImgUrl"  width="150px;" height="200px;" >
        </a>
        <center>
            <h6 class="card-title">@Model.Name</h6> 
            <i class="fa fa-turkish-lira">@Model.Price</i>
        </center>
    </div>

<div style="color: beige;"></div>

