@model eventsWeb.entity.Product

    <div class="smallcard2" width= "150px;" >
        <img src="~/img/@Model.ImgUrl"  width="150px;" height="200px;" style="border-radius: 15px;"  >
                <center >
                @* <p class="card-title">@Model.Name</p>  *@
            </center>
    </div>

<div style="color: beige;"></div>

